@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?60518104');
  src: url('../font/fontello.eot?60518104#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?60518104') format('woff'),
       url('../font/fontello.ttf?60518104') format('truetype'),
       url('../font/fontello.svg?60518104#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #4e4e4e;
  overflow: hidden;
}

#main {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  border-radius: 5px;
  background: #525659;
  overflow: hidden;
  -webkit-transition: -webkit-transform .4s, width .2s;
  -moz-transition: -webkit-transform .4s, width .2s;
  -ms-transition: -webkit-transform .4s, width .2s;

  -moz-box-shadow:    inset 0 0 50px rgba(0,0,0,.1);
  -webkit-box-shadow: inset 0 0 50px rgba(0,0,0,.1);
  -ms-box-shadow: inset 0 0 50px rgba(0,0,0,.1);
  box-shadow:         inset 0 0 50px rgba(0,0,0,.1);
}


#titlebar {
  z-index: 1600;
  display: block;
  padding: 10px;
  position: absolute!important;
  font-weight: 100;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;  
  background: rgba(0,0,0,.6)!important;
  width: 100%;
  border-bottom: 1px solid silver;
}

#footer{
  z-index: 1600;
  display: block;
  position: absolute !important;
  background: rgba(0,0,0,.6)!important;
  width: 100%;
  border-top: 1px solid silver;
  font-weight: 100;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45px;
  border-width: 1px 0;
  border-color: #eee;
  border-style: solid;
}

#pageIndicator{
  display: block;
  float: left;
  font-size: 14px;
  font-weight: 700;
  margin: 8px 0 0 10px;
  padding: 4px;
  width: 40px;
  height: 20px;
  line-height: 20px;
  border-width: 1px;
  border-style: solid;
  outline: 0;
  text-align: center;
  vertical-align: text-bottom;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#controls{
  height: 6px;
  background: #ffcd00;
  border: 1px solid #fff;
  color: #fff;
  float: left;
  margin: 18px 0 14px 14px;
  width: 90%;
  position: relative;
  text-align: left;
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#controls span.ui-slider-handle {
      background-color: #f1f2f2;
    background-image: -ms-linear-gradient(top,#B5B3B3 0%,#F1F2F2 25%,#959595 100%);
    background-image: -moz-linear-gradient(top,#B5B3B3 0%,#F1F2F2 25%,#959595 100%);
    background-image: -o-linear-gradient(top,#B5B3B3 0%,#F1F2F2 25%,#959595 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#B5B3B3),color-stop(25,#F1F2F2),color-stop(100,#959595));
    background-image: -webkit-linear-gradient(top,#B5B3B3 0%,#F1F2F2 25%,#959595 100%);
    background-image: linear-gradient(to bottom,#B5B3B3 0%,#F1F2F2 25%,#959595 100%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    box-shadow: 0 3px 1px 0 rgba(0,0,0,.7);
    -webkit-box-shadow: 0 3px 1px 0 rgba(0,0,0,.7);
    -moz-box-shadow: 0 3px 1px 0 rgba(0,0,0,.7);
    -ms-box-shadow: 0 3px 1px 0 rgba(0,0,0,.7);
    height: 26px;
    width: 26px;
    top: -10px;
}

#controls span.ui-slider-handle::before{
  background-color: #f7f7f7;
    background-image: -ms-linear-gradient(top,#FB9D04 0%,#fdd306 100%);
    background-image: -moz-linear-gradient(top,#FB9D04 0%,#fdd306 100%);
    background-image: -o-linear-gradient(top,#FB9D04 0%,#fdd306 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FB9D04),color-stop(100,#fdd306));
    background-image: -webkit-linear-gradient(top,#FB9D04 0%,#fdd306 100%);
    background-image: linear-gradient(to bottom,#FB9D04 0%,#fdd306 100%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    box-shadow: 0 3px 2px #6c6c6c inset;
    -moz-box-shadow: 0 3px 2px #6c6c6c inset;
    -ms-box-shadow: 0 3px 2px #6c6c6c inset;
    content: "";
    display: block;
    height: 16px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    width: 16px;
}
.ui-state-default, .ui-slider-handle {
    border: 1px solid #777!important;
}

#searchControl {
  float: left;
  background: #fff;
  border: 1px solid silver;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  position: relative;
  padding: 0 4px;
  height: 22px;
}

#searchBox {
  padding-left: 2px;
  width: 50px;
  margin-right: 2px;
  border-style: none;
  background: 0 0;
  text-shadow: none;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 15px;
  font-weight: 700;
  height: 22px;
  float: left;
  white-space: nowrap;
}

#searchButton {
  background: 0 0;
  border: 0;
  margin: 0;
  color: #ffcd00;
  float: left;
  font-size: 15px;
  padding: 2px 4px;
}

#titlebar a {
  color: #ffcd00;
  width: 35px;
  height: 28px;
  line-height: 20px;
  overflow: hidden;
  display: inline-block;
  padding: 4px;
  border-radius: 4px;
}

#navigation a#hide_menu {
  color: #ffcd00;
  width: 18px;
  height: 19px;
  line-height: 20px;
  overflow: hidden;
  display: inline-block;
  padding: 4px;
  border-radius: 4px;
}

#titlebar a:active {
  opacity: 1;
  color: rgba(0,0,0,.6);
  -moz-box-shadow:    inset 0 0 6px rgba(155,155,155,.8);
  -webkit-box-shadow: inset 0 0 6px rgba(155,155,155,.8);
  -ms-box-shadow: inset 0 0 6px rgba(155,155,155,.8);
  box-shadow: inset 0 0 6px rgba(155,155,155,.8);
}

#navigation a#hide_menu:active {
  opacity: 1;
  color: rgba(0,0,0,.6);
  -moz-box-shadow:    inset 0 0 6px rgba(155,155,155,.8);
  -webkit-box-shadow: inset 0 0 6px rgba(155,155,155,.8);
  -ms-box-shadow: inset 0 0 6px rgba(155,155,155,.8);
  box-shadow: inset 0 0 6px rgba(155,155,155,.8);
}

#book-title, #chapter-title, #title-seperator {
  font-weight: 600;
  font-size: 20px;
  color: white;
}

#title-seperator {
  display: none;
}

#viewer {
  width: 80%;
  height: 100%;
  margin: 20px auto 20px;
  position: relative;
  overflow: hidden;
  bottom: 20px;
}

#iframe_div{
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  overflow: hidden;  
}

#viewer iframe {
  border: none;
}

#prev {
  left: 5px;
  color: #eee !important;
  font-size: 50px;
}

div#prev, div#next{
  position: absolute;
  top: 50%;
  background: 0 0;
  z-index: 1600;
  height: 50px;
  margin-top: -15px;
  cursor: pointer;
  opacity: .5;
  padding: 0!important;
}

#next {
  right: 5px;
  color: #eee !important;
  font-size: 50px;
}

div#prev:hover, div#next:hover{
  opacity: 0.8;
}

div#prev:before, div#next:before {
    background: rgba(0,0,0,.5);
    padding: 50px 0;
    color: #eee !important;
}

.arrow {
  position: absolute;
  top: 50%;
  margin-top: -32px;
  font-size: 64px;
  color: #E2E2E2;
  font-family: arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.arrow:hover {
  color: #777;
}

.arrow:active,
.arrow.active {
  color: #000;
}

#sidebar {
  background: #525659;
  position: absolute;
  top: 0;
  min-width: 137px;
  width: 10%;
  height: 100%;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  -ms-transition: -moz-transform .5s;

  overflow: hidden;
}

#main.closed {
  -webkit-transform: translate(300px, 0);
  -moz-transform: translate(300px, 0);
  -ms-transform: translate(300px, 0);
}

#main.single {
  width: 75%;
}

#panels {
  background: #4e4e4e;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 13px 0;
  height: 14px;
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.6);
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.6);
  -ms-box-shadow: 0px 1px 3px rgba(0,0,0,.6);
  box-shadow: 0px 1px 3px rgba(0,0,0,.6);
}

#opener {
  float: left;
}

#metainfo {
  display: inline-block;
  text-align: center;
  max-width: 80%;
}

#title-controls {
  float: right;
}

#panels a {
  visibility: hidden;
  width: 18px;
  height: 20px;
  overflow: hidden;
  display: inline-block;
  color: #ccc;
  margin-left: 6px;
}

#panels a::before {
  visibility: visible;
}

#panels a:hover {
  color: #AAA;
}

#panels a:active {
  color: #AAA;
  margin: 1px 0 -1px 6px;
}

#panels a.active,
#panels a.active:hover {
  color: #AAA;
}

#searchBox {
  width: 50px;
  float: left;
  margin-left: 10px;
  margin-top: -1px;
}

input::-webkit-input-placeholder {
    color: #454545;
}
input:-moz-placeholder {
    color: #454545;
}
input:-ms-placeholder {
    color: #454545;
}

#divider {
  position: absolute;
  width: 1px;
  border-right: 1px #000 solid;
  height: 80%;
  z-index: 1500;
  left: 50%;
  margin-left: -1px;
  top: 10%;
  opacity: .15;
  box-shadow: -2px 0 15px rgba(0, 0, 0, 1);
  display: none;
}

#divider.show {
  display: block;
}

#loader {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  margin: -33px 0 0 -33px;
}

#tocView,
#bookmarksView {
  overflow-x: hidden;
  overflow-y: hidden;
  min-width: 300px;
  width: 25%;
  height: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0 ease .5s;
  -moz-transition: visibility 0 ease .5s;
  -ms-transition: visibility 0 ease .5s;
}



#sidebar.open #tocView,
#sidebar.open #bookmarksView {
  overflow-y: auto;
  visibility: visible;
  -webkit-transition: visibility 0 ease 0;
  -moz-transition: visibility 0 ease 0;
  -ms-transition: visibility 0 ease 0;
}

#sidebar.open #tocView {
  display: block;
}

#tocView > ul,
#bookmarksView > ul {
  margin-top: 15px;
  margin-bottom: 50px;
  padding-left: 20px;
  display: block;
}

#tocView li,
#bookmarksView li {
  margin-bottom:10px;
  width: 225px;
  font-family: Georgia, "Times New Roman", Times, serif;
  list-style: none;
  text-transform: capitalize;
}

#tocView li:active,
#tocView li.currentChapter
{
  list-style: none;
}

.list_item a {
  color: #AAA;
  text-decoration: none;
}

.list_item a.chapter {
  font-size: 1em;
}

.list_item a.section {
  font-size: .8em;
}

.list_item.currentChapter > a,
.list_item a:hover {
  color: #f1f1f1
}

.list_item a:hover {
  color: #E2E2E2;
}

.list_item ul {
  padding-left:10px;
  margin-top: 8px;
  display: none;
}

.list_item.currentChapter > ul,
.list_item.openChapter > ul {
  display: block;
}

#tocView.hidden {
  display: none;
}

.toc_toggle {
  display: inline-block;
  width: 14px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toc_toggle:before {
  content: '▸';
  color: #fff;
  margin-right: -4px;
}

.currentChapter > .toc_toggle:before,
.openChapter > .toc_toggle:before {
  content: '▾';
}

.view {
  width: 300px;
  height: 100%;
  display: none;
  padding-top: 50px;
  overflow-y: auto;
}

#searchResults {
  margin-bottom: 50px;
  padding-left: 20px;
  display: block;
}

#searchResults li {
  margin-bottom:10px;
  width: 225px;
  font-family: Georgia, "Times New Roman", Times, serif;
  list-style: none;
}

#searchResults a {
  color: #AAA;
  text-decoration: none;
}

#searchResults p {
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
}

#searchResults p .match {
  background: #ccc;
  color: #000;
}

#searchResults li > p {
  color: #AAA;
}

#searchResults li a:hover {
  color: #E2E2E2;
}

#searchView.shown {
  display: block;
  overflow-y: scroll;
}

#notes {
 padding: 0 0 0 34px;
}

#notes li {
  color: #eee;
  font-size: 12px;
  width: 240px;
  border-top: 1px #fff solid;
  padding-top: 6px;
  margin-bottom: 6px;
}

#notes li a {
  color: #fff;
  display: inline-block;
  margin-left: 6px;
}

#notes li a:hover {
  text-decoration: underline;
}

#notes li img {
  max-width: 240px;
}

#note-text {
  display: block;
  width: 260px;
  height: 80px;
  margin: 0 auto;
  padding: 5px;
  border-radius: 5px;
}

#note-text[disabled], #note-text[disabled="disabled"]{
    opacity: .5;
}

#note-anchor {
  margin-left: 218px;
  margin-top: 5px;
}

#settingsPanel {
  display:none;
}

#settingsPanel h3 {
  color:#f1f1f1;
  font-family:Georgia, "Times New Roman", Times, serif;
  margin-bottom:10px;
}

#settingsPanel ul {
  margin-top:60px;
  list-style-type:none;
}

#settingsPanel li {
  font-size:1em;
  color:#f1f1f1;
}

#settingsPanel .xsmall {  font-size:x-small; }
#settingsPanel .small {  font-size:small; }
#settingsPanel .medium {  font-size:medium; }
#settingsPanel .large {  font-size:large; }
#settingsPanel .xlarge {  font-size:x-large; }

.highlight { background-color: yellow }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  width: 630px;

  height: auto;
  z-index: 999;
  visibility: hidden;
  margin-left: -320px;
  margin-top: -160px;

}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  background: rgba(255,255,255,0.8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show {
    visibility: visible;
}

.md-show ~ .overlay {
    opacity: 1;
    visibility: visible;
}

/* Content styles */
.md-content {
  color: #fff;
  background: #6b6b6b;
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
  height: 320px;
}

.md-content h3 {
  margin: 0;
  padding: 6px;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  opacity: 0.8;
  background: rgba(0,0,0,0.1);
  border-radius: 3px 3px 0 0;
}

.md-content > div {
  padding: 15px 40px 30px;
  margin: 0;
  font-weight: 300;
  font-size: 14px;
}

.md-content > div p {
  margin: 0;
  padding: 10px 0;
}

.md-content > div ul {
  margin: 0;
  padding: 0 0 30px 20px;
}

.md-content > div ul li {
  padding: 5px 0;
}

.md-content button {
  display: block;
  margin: 0 auto;
  font-size: 0.8em;
}

/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.md-content > .closer {
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 24px;
  padding: 4px;
}

@media only screen and (max-width: 1000px) {
  #viewer{
    width: 62%;    
  }

  .cover_class{
    top: 0%;
  }

  div#controls{
    width: 80%;
  }

  #prev {
    display: none;
  }

  #next {
    display: none;
  }

  #divider,
  #divider.show {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  #viewer{
    width: 80%;    
  }

  div#controls{
    width: 71%;
  }

  .cover_class{
    top: 20%;
  }

  #prev {
    display: none;
  }

  #next {
    display: none;
  }

  .arrow {
    height: 100%;
    top: 45px;
    width: 10%;
    text-indent: -10000px;
  }

  #main {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    -ms-transition: -moz-transform .3s;
  }

  #main.closed {
    -webkit-transform: translate(260px, 0);
    -moz-transform: translate(260px, 0);
    -ms-transform: translate(260px, 0);
  }

  #metainfo {
    font-size: 10px;
  }

  #tocView {
    width: 260px;
  }

  #tocView li {
    font-size: 12px;
  }

  #tocView > ul{
    padding-left: 10px;
  }

  #divider,
  #divider.show {
    display: none;
  }
}

/* For iPad portrait layouts only */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
    #viewer iframe {
        width: 460px;
        height: 740px;
    }
}
 /*For iPad landscape layouts only */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
    #viewer iframe {
        width: 460px;
        height: 415px;
    }
}
/* For iPhone portrait layouts only */
@media only screen and (max-device-width: 480px) and (orientation: portrait) {
    #viewer {
      width: 76%;
      height: 720px;
    }
    #viewer iframe {
       width: 256px;
       height: 432px;
    }
}
/* For iPhone landscape layouts only */
@media only screen and (max-device-width: 480px) and (orientation: landscape) {
    #viewer iframe {
        width: 256px;
        height: 124px;
    }
}

@media only screen and (max-device-width: 320px) and (orientation: portrait) {
    #viewer {
      width: 290px;
      height: 720px;
    }
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* you can be more comfortable with increased icons size */
    font-size: 112%;
}


.icon-search:before { content: '\e807'; } /* '' */
.icon-resize-full-1:before { content: '\e804'; } /* '' */
.icon-cancel-circled2:before { content: '\e80f'; } /* '' */
.icon-link:before { content: '\e80d'; } /* '' */
.icon-bookmark:before { content: '\e805'; } /* '' */
.icon-bookmark-empty:before { content: '\e806'; } /* '' */
.icon-download-cloud:before { content: '\e811'; } /* '' */
.icon-edit:before { content: '\e814'; } /* '' */
.icon-menu:before { content: '\e802'; } /* '' */
.icon-cog:before { content: '\e813'; } /* '' */
.icon-resize-full:before { content: '\e812'; } /* '' */
.icon-cancel-circled:before { content: '\e80e'; } /* '' */
.icon-up-dir:before { content: '\e80c'; } /* '' */
.icon-right-dir:before { content: '\e80b'; } /* '' */
.icon-angle-right:before { content: '\e809'; } /* '' */
.icon-angle-down:before { content: '\e80a'; } /* '' */
.icon-right:before { content: '\e815'; } /* '' */
.icon-list-1:before { content: '\e803'; } /* '' */
.icon-list-numbered:before { content: '\e801'; } /* '' */
.icon-columns:before { content: '\e810'; } /* '' */
.icon-list:before { content: '\e800'; } /* '' */
.icon-resize-small:before { content: '\e808'; } /* '' */

#cover{
  margin: 5px 10px 5px 10px;
  max-height: 100px;
  max-width: 100px;
}

#title{
  margin: 0px 5px 0px 5px;
  font-size: 15px;
  color: white;
}

#author{
  margin: 0px 5px 0px 5px;
  font-size: 15px;
  color: white;
}

#toc ul li a{
  color: white;
  text-decoration: none;
  font-size: 12px;
}

#toc ul{
  margin: 0 -15px !important;
  padding: 0 0 0 35px !important;
}

.ti-icon {
  font-size: 25px;
  padding: 4px 10px !important;
  text-shadow: none!important;
  font-weight: 400;
  color: #ffcd00;  
}

#pagePercent{
  color: #ffcd00;
  float: left;
  font-size: 15px;
  font-weight: 700;
  margin: 12px 0 0 0;
  line-height: 22px; 
}

.cover_class{
  background: #525659;
  overflow: hidden;
  top: 0%; 
}

.content_class{
  background: white;
  overflow: hidden;
}

.load-doc-webview {
  position: relative;
  left: 0;
  right: 0;
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 100px;
}

.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
