<!DOCTYPE html>
<html style="height:100%;">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>EPUB Viewer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Type" content="text/html">
    <link rel="stylesheet" type="text/css" href="{{ data.module_path }}/css/main1.css">
    <link rel="stylesheet" type="text/css" href="{{ data.module_path }}/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="{{ data.module_path }}/css/popup.css">
    <link rel="stylesheet" type="text/css" href="{{ data.module_path }}/jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="{{ data.module_path }}/themify-icons/themify-icons.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ data.module_path }}/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ data.module_path }}/js/epub.js"></script>
    <script type="text/javascript" src="{{ data.module_path }}/js/jszip.min.js"></script>
    <script type="text/javascript" src="{{ data.module_path }}/js/screenfull.min.js"></script>
    <script type="text/javascript" src="{{ data.module_path }}/js/content_view.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/detect_swipe/2.1.1/jquery.detect_swipe.min.js"></script>
  </head>
  <body style="width:100%;height:100%;margin:0px;padding:0px;overflow:hidden;">
    <div id="sidebar" class="back">
      <div id="navigation">
        <a id="hide_menu" title="Hide Menu" class="icon icon-right"></a>
        <h1 id="title" class="font">...</h1>
        <image id="cover"/>
        <h2 id="author" class="font">...</h2>
        <span class="font"><b>Contents</b></span>
        <div id="toc" class="font"></div>
      </div>
    </div>
    <div id="main" class="back">
      <div id="titlebar">
        <div id="opener">
          <a id="slider" title="Show Menu" class="icon icon-menu"></a>
        </div>
        <div id="title-controls">
          {% if options.show_download_icon %}
            <a id="mediafiledownload" title="EPUB Download" href="{{ data.file_path }}" class="icon ti-icon ti-download"></a>
          {% endif %}
          <a id="home_btn" title="Home" href="{{ url('<front>') }}" class="icon ti-icon ti-home"></a>
        </div>
      </div>
      <div id="divider" class="show"></div>
      <div id="prev"  class="ti-icon ti-angle-left" title="Previous"></div>
      <div id="viewer">
      </div>
      <div id="next"  class=" ti-icon ti-angle-right" title="Next"></div>
    </div>
    <div class="overlay"></div>
    <div id="footer">
      <input id="pageIndicator" size="3" value="0" readonly="readonly" size="4" type="text" name="pageIndicator" /><span id="pagePercent" class="icon">%</span>
      <div id="controls">
      </div>
    </div>   
    <div id="iframe_div"></div>
    <script type="text/javascript">
      jQuery(function() {
          var epub_settings = {
            site_url : "{{ data.base_url }}",
            file_path : "{{ data.file_path }}",
            icon_color : "{{ options.icon_color }}",
            font_color : "{{ options.font_color }}",
            background_color : "{{ options.background_color }}",
          }
          epub_loader(epub_settings);          
      });
    </script>
  </body>
</html>
