<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>EPUB Viewer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        {{ attach_library('epub_module/epub-style') }}
    </head>
    <body>
      <div id="sidebar">
        <div id="panels">
          <span class="show_view">Contents</span>
        </div>
        <div id="tocView" class="view">
        </div>
      </div>
      <div id="main">
        <div id="titlebar">
          <div id="opener">
            <a id="slider" class="icon-menu">Menu</a>
          </div>
          <div id="metainfo">
            <span id="book-title"></span>
            <span id="title-seperator">&nbsp;&nbsp;–&nbsp;&nbsp;</span>
            <span id="chapter-title"></span>
          </div>
          <div id="title-controls">
            <a id="fullscreen" class="icon-resize-full">Fullscreen</a>
          </div>
        </div>
        <div id="divider"></div>
        <div id="prev" class="arrow">‹</div>
        <div id="viewer"></div>
        <div id="next" class="arrow">›</div>
      </div>
      <div class="overlay"></div>
      <script>
        document.onreadystatechange = function () {
          if (document.readyState == "complete") {
            window.reader = ePubReader("{{ data.file_path }}", {
              restore: true
            });
          }
        };
      </script>
    </body>
</html>
